# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystems are summarized.

**Objectives:**
 - Understand Common Data Science Tools
 - Learn the different types of libraries
 - Learn about R and R Studio
 - Learn about Jupyter and Jupyter Labs

#### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Scala

#### Some of the commonly used libraries used by Data Scientists include:
- Pandas
- NumPy
- PyTorch

#### Data Science Open Source Tools
| Data Science Tools|
|-----|
| Apache Sparck |
| RStudio ||
Jupyter |

### Below are a few examples of evaluating arithmetic expressions in Python.

This a simple arithmetic expression to mutiply then add integers

In [33]:
print((3*4)+5)

17

This will convert 200 minutes to hours by diving by 60

In [51]:
min=int(input("Enter time in minutes"))
h=min//60
m=min%60
print("Hours=",h)
print("Minutes=",m)

Enter time in minutes 200

Hours= 3
Minutes= 20

## Author
Ricardo Zapata